trunk/SOAProject4/SyncFileReadService.wsdl

<wsdl:definitions
     name="SyncFileReadService"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ContinousIntegration/SOAProject4/SyncFileReadService"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/ContinousIntegration/SOAProject4/SyncFileReadService"
     xmlns:imp1="http://www.rackspace.com/integration/xsd/Employee.xsd"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
    >
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/ContinousIntegration/SOAProject4/SyncFileReadService"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://www.rackspace.com/integration/xsd/Employee.xsd" schemaLocation="xsd/Employee.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="body" element="imp1:employeeDetails"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
