ContinousIntegration/SOAProject2/IMath.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="IMath"
     targetNamespace="http://oracle.com.soa/"
     xmlns:tns="http://oracle.com.soa/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xsd:schema targetNamespace="http://oracle.com.soa/" xmlns:tns="http://oracle.com.soa/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="multiply">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:double"/>
                    <xsd:element name="arg1" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="multiply" type="tns:multiply"/>
            <xsd:complexType name="multiplyResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="multiplyResponse" type="tns:multiplyResponse"/>
            <xsd:complexType name="divide">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:double"/>
                    <xsd:element name="arg1" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="divide" type="tns:divide"/>
            <xsd:complexType name="divideResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="divideResponse" type="tns:divideResponse"/>
            <xsd:complexType name="subtract">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:double"/>
                    <xsd:element name="arg1" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="subtract" type="tns:subtract"/>
            <xsd:complexType name="subtractResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="subtractResponse" type="tns:subtractResponse"/>
            <xsd:complexType name="add">
                <xsd:sequence>
                    <xsd:element name="arg0" type="xsd:double"/>
                    <xsd:element name="arg1" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="add" type="tns:add"/>
            <xsd:complexType name="addResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="addResponse" type="tns:addResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="multiplyInput">
        <wsdl:part name="parameters" element="tns:multiply"/>
    </wsdl:message>
    <wsdl:message name="multiplyOutput">
        <wsdl:part name="parameters" element="tns:multiplyResponse"/>
    </wsdl:message>
    <wsdl:message name="divideInput">
        <wsdl:part name="parameters" element="tns:divide"/>
    </wsdl:message>
    <wsdl:message name="divideOutput">
        <wsdl:part name="parameters" element="tns:divideResponse"/>
    </wsdl:message>
    <wsdl:message name="subtractInput">
        <wsdl:part name="parameters" element="tns:subtract"/>
    </wsdl:message>
    <wsdl:message name="subtractOutput">
        <wsdl:part name="parameters" element="tns:subtractResponse"/>
    </wsdl:message>
    <wsdl:message name="addInput">
        <wsdl:part name="parameters" element="tns:add"/>
    </wsdl:message>
    <wsdl:message name="addOutput">
        <wsdl:part name="parameters" element="tns:addResponse"/>
    </wsdl:message>
    <wsdl:portType name="IMath">
        <wsdl:operation name="multiply">
            <wsdl:input message="tns:multiplyInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:multiplyOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="divide">
            <wsdl:input message="tns:divideInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:divideOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="subtract">
            <wsdl:input message="tns:subtractInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:subtractOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="add">
            <wsdl:input message="tns:addInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:addOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
